@keyframes pulsing {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.show {
    font-size: 185px;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;

    .bold {
        font-weight: 700;
    }
    
    .thin {
        font-weight: 300;
        color: #6deca0;
    }

    &.centered {
        flex: 1;
    }

    &.pulsing {
        animation: pulsing .9s ease-in-out infinite;
    }
}

.table {
    color: white;
    font-size: 21px;
    text-align: center;
    width: 100%;
    font-weight: 300;
}



.lap {
    font-size: 50px;
    color: rgba(#fff,.5);
}
