.wrapper {
    flex-grow: 1;
  
    overflow: auto;
    
    /* for Firefox */
    min-height: 0;
    // display: inline-block;
    width: 50%;
    margin-top: 25px;
}

.table {
    // width: 90%;
    font-size: 21px;
    color: white;
    // flex: 1;
    width: 100%;
    border-spacing: 0 10px;
}

.header {
    color: rgba(white,1);
    background-color: rgba(#6DECA0,.8);
}

tr.fastest {
    color: #6Deca0;
}

td {
    text-align: center;

}