.wrapper {
    flex-grow: 1;
  
    overflow: auto;
    
    /* for Firefox */
    min-height: 0;
    // display: inline-block;
    width: 50%;
    margin-top: 25px;
}

.table {
    // width: 90%;
    font-size: 21px;
    color: white;
    // flex: 1;
    width: 100%;
    border-spacing: 0 10px;
    position: relative;
}

.header {
    color: rgba(white,1);
    background-color: rgba(#6DECA0,.8);
}

tr.fastest {
    color: #6Deca0;
    position: relative;
    
    &:after {
        content: "F";
    }
}

tr.slowest {
    color: rgb(216, 64, 64);

    &:after {
        content: "S";
    }
}

tr.slowest:after,
tr.fastest:after {
    display: block;
    position: absolute;
    left: 20px;
    text-align: center;
}

td {
    text-align: center;

}